.vscode

# Ignore everything except MainProcssor/src and MainProcessor/inc
mvp/MainProcessor/.vs
mvp/MainProcessor/MainProcessor.atsln
mvp/MainProcessor/MainProcessor.componentinfo.xml
mvp/MainProcessor/MainProcessor.cproj
mvp/MainProcessor/Debug/*
mvp/MainProcessor/Release

!mvp/MainProcessor/inc/*.*
!mvp/MainProcssor/src/*.*

# Ignore credentials.lua in WiFiCoprocessor
mvp/WiFiCoprocessor/credentials.lua  